{
    "include": [
        "routes/**/*.js",
        "models/**/*.js",
        "src/**/*.js"
    ],
    "require": [
        "babel-register"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "sourceMap": false,
    "instrument": false
 }